.general {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    background-size: cover;
} 

.input {
    width: 73vw;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px #008080;
}

.container {
    display: flex;
    align-items: center;
    bottom: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    /* position: fixed; */
    margin-bottom: 16px;
}

.button {
    width: 11vw;
    height: 70px;
    border-radius: 10px;
    border: solid;
    align-items: center;
    background-color: wheat;
    position: relative;
}

.buttonText {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}
